.subscription {
  padding: 64px;
  background-color: var(--primary-color);
  background-image: url("../../subscribe_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  flex-direction: column;
  overflow: hidden;
}

.subscription h2 {
  font-size: 80px;
  font-family: var(--playfair-display);
  color: aliceblue;
  text-align: center;
  line-height: 123px;
}

.subscription p {
  font-size: 25px;
  font-family: var(--plus-jakarta-sans);
  color: aliceblue;
  text-align: center;
  line-height: 123px;
  margin-top: 32px;
}

.subscription__form {
  min-width: 480px;
  margin-top: 40px;

  display: flex;
  padding: 14px 14px 14px 24px;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);

  border-radius: 40px;
}

.subscription__form input {
  flex: 1;
  border: none;
  outline: none;

  font-size: 18px;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  background-color: transparent;
}

.subscription__form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.subscription__form button {
  padding: 10px;
  min-width: 180px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  border-radius: 50px;
}
